@import "variable.styl"
body, html
  line-height: 1
  font-family: 'Ping SC', 'STHeitiSC-Light', 'Heletice-light',arial,sans-serif,'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highLight-color: transparent
  background: $color-background
  color: $color-text